{% extends 'base.html.twig' %}

{% block title %}New CommentaireModele{% endblock %}

{% block body %}
    <h1>Create new CommentaireModele</h1>

    {{ include('commentaire_modele/_form.html.twig') }}

    <a href="{{ path('app_commentaire_modele_index') }}">back to list</a>
{% endblock %}
