{% extends 'base.html.twig' %}

{% block title %}Edit CreePar{% endblock %}

{% block body %}
    <h1>Edit CreePar</h1>

    {{ include('cree_par/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cree_par_index') }}">back to list</a>

    {{ include('cree_par/_delete_form.html.twig') }}
{% endblock %}
