{% extends 'base.html.twig' %}

{% block title %}CreePar index{% endblock %}

{% block body %}
    <h1>CreePar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cree_par in cree_pars %}
            <tr>
                <td>
                    <a href="{{ path('app_cree_par_show', {'idModele': cree_par.idModele}) }}">show</a>
                    <a href="{{ path('app_cree_par_edit', {'idModele': cree_par.idModele}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cree_par_new') }}">Create new</a>
{% endblock %}
