{% extends 'base.html.twig' %}

{% block title %}email envoyé{% endblock %}

{% block body %}
    <p>
        va voir tes mails mon reuf
        ca expire dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <a href="{{ path('app_forgot_password_request') }}">reesaye si t'as rien recu</a>
{% endblock %}
