{% extends 'base.html.twig' %}

{% block title %}New Variante{% endblock %}

{% block body %}
    <h1>Create new Variante</h1>

    {{ include('variante/_form.html.twig') }}

    <a href="{{ path('app_variante_index') }}">back to list</a>
{% endblock %}
