{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Accueil</a>
{%else%}
<p>vVous devez etre connecte</p>
{%endif%}
{% endblock %}
