{% extends 'base.html.twig' %}

{% block title %}Model{% endblock %}

{% block body %}
    <h1>Model {{ model }}</h1>
    {% if variante is defined %}
        <h2> Variante {{ variante }} </h2>
    {% else %}
        <h2> Pas de variante sélectionnée </h2>
    {% endif %}
{% endblock %}