{% extends 'base.html.twig' %}

{% block title %}Model{% endblock %}

{% block body %}


<table class="table">
    <thead>
            <tr>
                <th>commande effectuee</th>
            </tr>
    </thead>
    <tbody>
            <tr>
            <td>
                <a href="{{ path('app_main') }}">
                <button type="button" class="btn btn-primary">retour a l'accueil</button>
                </a>
            </td>
            </tr>
    </tbody>
    </table>























{% endblock %}