{% extends 'base.html.twig' %}

{% block title %}Edit Createur{% endblock %}

{% block body %}
    <h1>Edit Createur</h1>

    {{ include('createur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_createur_index') }}">back to list</a>

    {{ include('createur/_delete_form.html.twig') }}
{% endblock %}
