{% extends 'base.html.twig' %}

{% block title %}New Createur{% endblock %}

{% block body %}
    <h1>Create new Createur</h1>

    {{ include('createur/_form.html.twig') }}

    <a href="{{ path('app_createur_index') }}">back to list</a>
{% endblock %}
