{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
    {% if user is empty %}
        <h2> This user is not existing </h2>
    {% else %}
        <h2> {{ user.pseudoUser }} </h2>
    {% endif %}
{% endblock %}